<ion-view title="Books">
  <ion-content>
    <div class="card" ng-if="appUser.username && hasNoBookshop">
        <div class="item">
            <h2>No bookshop</h2>
            <p>Your user has no bookshop ... sorry!</p>
        </div>
        
    </div>
    <div class="card" ng-if="!appUser.username">
        <div class="item">
            <h2>Not logged</h2>
            <p>Seems like you are not logged in</p>
        </div>
        
    </div>
    <ion-list ng-if="!hasNoBookshop">
        <ion-item class="item-thumbnail-left" ng-repeat="book in books" ui-sref="app.books.detail({bookId:book.id})">
            <img ng-src="{{book.images[0].image_thumb}}" alt="" class="">
            <h3>{{book.title}}</h3>
            <p>{{book.description}}</p>
            
        </ion-item>

        <ion-infinite-scroll
            ng-if="metadata.next"
            on-infinite="updateBooks()"
            distance="1%">
        </ion-infinite-scroll>

    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-dark">
    <button class="button button-calm" ui-sref="app.books.new">Add book</button>
  </ion-footer-bar>
</ion-view>
