<ion-view title="Books" persistent-record="book" editable="!book.id" save-item="save">
  <form novalidate name="bookForm">
  <ion-content>
  

    <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text" persistent-field="title" required>
    </label>
    <label class="item item-input">
        <span class="input-label">Description</span>
        <textarea persistent-field="description" required>
        </textarea>
    </label>

    <label class="item item-input">
        <span class="input-label">Price</span>
        <input type="text" persistent-field="price" required>
    </label>

    <label class="item item-input">
        <span class="input-label">Editor</span>
        <input type="text" persistent-field="editor" required>
    </label>
  

  <!-- images -->
  <div persistent-collection="book.images" item-key="'id'" drop-item="dropBookImage" reorder-item="reorderBookImage" ng-if="book.id">
    <div class="item item-button-right">
      Images
      <div class="buttons">
        <button class="button button-calm" ng-disabled="ui.reorderImages || ui.deleteImages">Add image</button>
        <button class="button button-calm" ng-disabled="ui.deleteImages" ng-click="toggleUi('reorderImages')">Sort</button>
        <button class="button button-calm" ng-disabled="ui.reorderImages" ng-click="toggleUi('deleteImages')">Edit</button>
        <button class="button button-assertive button-small" ng-click="deleteRecordsWithConfirm(true)" ng-if="collectionStatus.numToDrop>0">ELIMINA {{collectionStatus.numToDrop}} ELEMENTI</button>
      </div>
    </div>
    <ion-list show-delete="ui.deleteImages" show-reorder="ui.reorderImages">   

    <ion-item class="text-center" ng-repeat="image in book.images">
      <img ng-src="{{image.image_thumb}}" alt="">
      <!--<ion-delete-button class="ion-minus-circled" ng-click="toggleToDrop(image, $event)"></ion-delete-button>
      -->
      <ion-delete-button class="icon" ng-class="{true:'ion-minus-circled', false:'ion-ios-minus-outline'}[!!collectionStatus.toDrop[image.id]]" ng-click="toggleToDrop(image, $event)">
      </ion-delete-button>

      <ion-reorder-button class="ion-navicon"
                        on-reorder="moveItem(image, $fromIndex, $toIndex, 'order')">

    </ion-reorder-button>

    </ion-item>
    </ion-list>  

    
  </div>
    
  </ion-content>
  <ion-footer-bar>
    <button class="button button-small button-calm" ng-if="!recordStatus.editable" ng-click="toEditMode()">Modifica</button>
    <button class="button button-small button-calm" ng-if="recordStatus.editable" ng-click="undo();toReadMode()">Annulla</button>

    <button class="button button-small button-assertive button-outline" ng-if="recordStatus.editable" ng-disabled="bookForm.$invalid" ng-click="saveRecord({toReadMode:true})">Salva</button>

  </ion-footer-bar>
  </form>
</ion-view>
